:root {
  font-family: Inter, system-ui, Avenir, Helvetica, Arial, sans-serif, Press Start 2P;
  font-size: 16px;
  --dkClr: #181818;
  --liClr: whitesmoke;
  --accClr: #0d0d35;
}
*{
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}
html,body{
  height: 100%;
}
body{
  background-color: var(--dkClr);
  color: var(--liClr);
  display: flex;
  flex-direction: column;
  align-items: center;
  min-height: 100vh;
}
header,footer{
  width: 100%;
  padding: 1rem;
  display: flex;
  justify-content: center;
  align-items: center;
  background-color: var(--accClr);
}
main{
  flex: 1;
  width: 100%;
  display: flex;
  justify-content: center;
  align-items: center;
}
@font-face {
  font-family: PressStart2P;
  src: url('assets/Font/PressStart2P.ttf');
 
}

#gameCanvas{
  
  border: 1px solid red;
  position:absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%,-50%);
  display: flex;
  z-index: 1
}